


input[type="email"] {

    background-color: #F2F2F2;
    outline: none;
    border-radius: 12px;
    border: none;
    padding: 17px 17px;
    width: 350px;
    padding-right: 50px;
  
}

input[type="submit"] {

    background: #2D9CDB;
    margin-left: -90px;
border-radius: 12px;
border: none;
outline: none;
color: white;
padding: 14px 28px;
cursor: pointer
}

input[type="submit"]:hover {
    background-color: #0069d9;
}