*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body
{
    background: #fdfaff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Heebo', sans-serif;
}
section 
{
    padding-top: 5rem;
    padding-bottom: 1rem;
}

img 
{
    width: 100%;
    max-width: 100%;   
}

.container
{
    margin: 0 auto;
}

/*########  HERO CSS  */
.hero__container
{
    width: 932px;
    padding: 3rem 0;
}
.hero__container .lead 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #2D9CDB;
}
.hero__container p
{
    width: 366px;font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
    margin: 2rem 0;
}
.hero__container .small 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #828282;
}
.hero__container h2 
{
font-family: 'Poppins';
width: 543px;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 72px;
color: #333333;
}
.hero__image__container
{
    width: 1332px;
}
.hero__image__container img 
{
    border-radius: 18px;
    height: 354px;
}


input[type="email"]
{
width: 350px;
padding: 20px 30px;
/* height: 57px; */
background: #F2F2F2;
border-radius: 12px;
display: inline-block;

}

.form__div a  
{
color: white;
padding: 13px 30px;
width: 94px;
background: #2D9CDB;
border-radius: 12px;

}
::placeholder 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #BDBDBD;
}


/*##############  Service  CSS */
.service__contianer
{
    width: 1099px;
}

.service__head p 
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
width: 346px;
color: #333333;
}
.service__head ,.work__head
{
    padding-bottom: 2rem;
}
.service__bottom
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 2rem;
}
.service__box 
{
height: 422px;
padding: 3rem;

border-radius: 24px;
display: flex;
flex-direction: column;
gap: 2rem;
}
.service__box:hover
{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.service__box i 
{
    width: 27px;
    height: 27px;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.service__box:nth-child(1) i 
{
    background: #2D9CDB;
}
.service__box:nth-child(2) i 
{
    background: #27AE60;
}
.service__box:nth-child(3) i 
{
    background: #EB5757;
}

.service__box h5 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #333333;
}
.service__box p 
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* Gray 2 */width: 293px;
color: #4F4F4F;
}

.service__box .btn-primary
{
background: #E0E0E0;
border-radius: 12px;
padding: 10px 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* identical to box height */

color: #828282;
}

.service__box .btn-primary:hover 
{
    background: #2D9CDB;
border-radius: 12px;
color: white;
}


/*#################    Work CSS */
.work__container
{
    width: 1099px;
}
.work__head p 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
width: 446px;
color: #333333;
}

.showcase
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.showcase__box:nth-child(odd)
{
   padding-top: 5rem;
}
.showcase__box:nth-child(even)
{
   padding-bottom: 5rem;
}

.showcase__details small
{
margin-top: 1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #828282;
}

.showcase__details  h6 
{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #333333;
}


.showcase__details p
{
    text-align: right;
    margin-top: 3.5rem;

}
.showcase__details p a 
{
    color: #2D9CDB!important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
}


/* Team CSS  */
.team__container
{
    display: flex;
    justify-content: space-between;
    width: 1099px;
}

.team__container img
{
    width: 260px;
    height: 260px;
    border-radius: 24px;
}

.team__left
{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.team__left small 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #EB5757;
}
.team__left h3 
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    width: 280px;
    color: #333333;

}
.team__left p 
{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
width: 273px;
/* Gray 2 */
color: #4F4F4F;

}
.team__right
{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.dflex
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* ################### Testimonial CSS */

.testimonial__container
{
    width: 1099px;
}
.testimonial__container h3
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
 margin-bottom: 4rem;
    color: #333333;
    width: 937px;
}

.clients
{
    display: flex;
   gap: 1.5rem;
}
.clients__details
{
    margin-top: .5rem;
}
.clients__details h6 
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #333333;
}
.clients__details small 
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

color: #828282;


}
.clients__img img 
{
    width: 135px;
height: 132px;
border-radius: 12px;
}


/* ######################### Footer CSS  */

footer
{
    background: #000;
    padding: 5rem 0 15rem 0;
    color: #FFF;
}

.footer__container
{
    
    width: 1099px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 2rem; */
}

.div__1 li a 
{
    color: #FFF;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 200%;

/* or 36px */

color: #FFFFFF;


}

.div__2 p
{
font-family: 'Heebo';
font-style: normal;
font-weight: 800;
font-size: 36px;
/* line-height: 53px; */
color: #F2F2F2;

}
.footer__social
{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.footer__social i
{
    Width:24px;
Height:24px;
background: #F2F2F2;
color: #000;
display: flex;
justify-content: center;
align-items: center;
}
.div__3 p
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
margin-bottom: 1rem;
color: #F2F2F2;
}

/* Copyright  */
.copyright__container
{
    width: 100%;
    text-align: center;
    background: #000;
    color:#FFF;
}
.copyright__container p
{
padding-bottom:15px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */
text-align: center;

color: #F2F2F2;


}
.copyright__container strong 
{
    text-decoration: underline;
}